<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Hotsapi.Uploader.Windows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
        <Hotsapi.Uploader.Windows.Properties.Settings>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdateRepository" serializeAs="String">
                <value>https://github.com/poma/Hotsapi.Uploader</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="UploadToHotslogs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeleteAfterUpload" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>MetroDark</value>
            </setting>
            <setting name="AllowPreReleases" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ApplicationVersion" serializeAs="String">
                <value/>
            </setting>
        </Hotsapi.Uploader.Windows.Properties.Settings>
    </userSettings>

</configuration>
