name: .NET Core

on: pull_request

jobs:
  build:
    runs-on: ubuntu-16.04
    strategy:
      matrix:
        dotnet: ['3.0.100', '3.1.100-preview1-014459' ]
    name: Dotnet ${{ matrix.dotnet }} sample
    steps:
      - uses: actions/checkout@v1
        with:
          submodules: true
      - name: Setup dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ matrix.dotnet }}
      - run: dotnet test Hotsapi.Uploader.Common.Test
